@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Poppins:wght@200;400;500;600;700;800&display=swap" rel="stylesheet');

:root {
  --main-font:'Caudex', serif;
  --secondary-font: 'Poppins', sans-serif;
  --active-color: #000000;
  --accent-color:#008000;
  --theme-dark: #008000;
  --logo-height:53px;
  --menu-color: #000000;
  --menu-active-color: #ffffff;
  --menubar-background : #008000;
        --title-color: ;
        --paragraph-color:#4D4D4D ;
        --black-color:#000;
        --white-color: #fff;
        --theme-paragraph:#777777;

  /* Typography */
  --font-value : 15px;
  --thin: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 900;
  --body-font-size: 16px;
  --h1: 36px;
  --h2: 32px;
  --h3: 26px;
  --h4: 20px;
  --h5: 18px;
  --h6: 16px;
  --p: 15px;
  --text-color: #000000;
  --footer-bg: #000000;
  --footer-text-color: #A7A7A7;
  --gradiant-color: radial-gradient(circle at 60%, rgba(6, 158, 8, .15) 0, rgba(255, 255, 255, 0) 75%), radial-gradient(circle at 30% 80%, rgba(206, 217, 242, .5) 5%, rgba(255, 255, 255, 0) 25%), radial-gradient(circle at 50% 15%, rgba(245, 229, 178, 0.5) 0, rgb(251, 252, 254) 35%);
  --page-title-bg: rgb(249, 249, 249);
  --white: #fff;
  --success: #198754;
  --warning: #d52929;
  --notice: #ffea5d;
  --link-color: #0d6efd;
  --black:#000000;

}
*,
*::before,
*::after {
  box-sizing: border-box;
}


h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
p {
    font-size: var(--p);
}
body {
    font-family: 'Caudex', serif;
    font-size: var(--body-font-size);
    line-height: 1.5;
    background: #F9F9F9;
}
@media (max-width:767px) {
    h1 {
        font-size: var(--h2);
    }
    h2 {
        font-size: var(--h3);
    }
    h3 {
        font-size: var(--h4);
    }
    h4 {
        font-size: var(--h5);
    }
    h5 {
        font-size: var(--h6);
    }
    h6 {
        font-size: 15px;
    }
}
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--active-color);
}

.link{
  padding: 12px 24px;
  text-decoration: none;
  text-transform:uppercase;
  color: var(--white-color);
  font-family: var(--main-font);
  font-weight: var(--semi-bold);
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  background-color: var(--active-color);
  border: 1px solid var(--black-color);
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  &:focus{
    background-color: var(--active-color);
    color: var(--white-color);
    font-weight: var(--bold);
  }
}
a {
  transition: all ease-in-out 0.1s;
  &:hover,
  &:focus,
  &:visited {
    outline: none;
    text-decoration: none;
  }
  &:hover {
    color: var(--accent-color);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}


// .container-full {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   max-width: 1430px;
//   margin-left: auto;
//   margin-right: auto;

//   @media (min-width: 376px) {
//     max-width: 375px;
//   }

//   @media (min-width: 850px) {
//     max-width: 768px;
//   }

//   @media (min-width: 1100px) {
//     max-width: 1024px;
//   }

//   @media (min-width: 1440px) {
//     max-width: 1430px;
//   }
 
// }
// .container-small {
//   width: 100%;
//   padding-right: 15px;
//   padding-left: 15px;
//   max-width: 1024px;
//   margin-left: auto;
//   margin-right: auto;

//   @media (min-width: 376px) {
//     max-width: 375px;
//   }

//   @media (min-width: 850px) {
//     max-width: 768px;
//   }

//   @media (min-width: 1030px) {
//     max-width: 1024px;
//   }


 
// }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 375px) {
    max-width: 340px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1400px) {
    max-width: 1345px;
  }
}
.full-width-layout {
  .container {
    @media (min-width: 1200px) {
      max-width: 95%;
    }


  }
}


/* Row and column */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.w-30,
.w-70 {
  position: relative;
  max-width: 100%;
  flex: 0 0 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.tc{
    text-align: center;
}
.tr{
    text-align: right;
}
.mt-30{
    margin-top: 30px;
}
.mt-60{
    margin-top: 60px;

}
.mb-60{
  margin-bottom: 60px;
}
.ml-40{
    margin-left: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
$x-large:1480px;
$large:1199px;
$tablet:1079px;
$medium:991px;
$small:767px;
$mobile:567px;
$above-large:1200px;
$above-tablet:1080px;
$above-medium:992px;
$above-small:768px;
$above-mobile:568px;
$animation-timing-function: cubic-bezier(.4, 0, .2, 1);
$animation-duration: 1s;

.section {
  @media (min-width:992px) {
  margin-top: 50px;
  margin-bottom: 50px;
}
}

.full-width-input {
  width: 100%;
  box-sizing: border-box; /* This ensures the padding and border are included in the width */
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea{
  padding: 10px;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--active-color);
  box-sizing: border-box;
  margin-top: 20px;
  transition: border-color 0.3s ease;
  font-family: var(--main-font);
  ::placeholder{
    color: #ABABAB;
  }
}

button{
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--active-color);
  padding: 14px 28px;
  border: 1px solid white;
  border-radius: 6px;
  font-weight: var(--semi-bold);
  font-size: var(--h6);
  cursor: pointer;
  margin-top: 10px;
  &:active{
    color: var(--white-color);
    background-color: var(--active-color);
  }
}

.top_bar{
   
    .topbar_content{
        background-color: #000;
        text-align: center;

        h5{
            padding: 8px 4px;
            color: #F1F1F1;
            font-size: 14px;
            font-family: var(--main-font);
            font-weight: 200;
        }

    }
    .navbar_content {
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            list-style-type: none;
            align-items: center;
            li{
                margin-left: 20px;
                
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    font-weight: var(--regular);
                    font-family: var(--main-font);
                    padding: 5px 10px;

                    &:hover{
                        color: var(--accent-color);
                        
                    }
                    i{
                        padding: 8px;
                        border-radius: 30px;
                        &:hover{
                            background-color: var(--accent-color);
                            color: #fff;


                        }
                    }
                }
            }
        }
      .site_logo{
        h2{
            color:#f1f1f1;
            font-size: var(--h2);
            font-weight: 700;
            padding: 10px;
            background-color: #008000;
        }
      }
        
    }

}
.page_banner{
   
    .owl-carousel{
        .owl-dots button{
            display: none;
        }
    
        .item {
            position: relative;
            text-align: center;
            .item_content{
                position: relative;
                bottom: 300px;
                p{
                    font-family: var(--secondary-font);
                    font-weight: var(--light);
                    color: #fff;
                    padding: 0 50px;
                    font-size: 16px;
                    background-color: #4949494f;
                }
                #btn{
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    font-weight: 400;
                    padding: 8px 16px;
                    background-color: #198754;
                    &:hover{
                        background-color: transparent;
                        color: #fff;
                        border: 1px solid #fff;
                    }
                }
            }


        }
        .owl-item {
            max-height: 550px;
        }
        
    } 
    .banner-right{
        margin-top: 45px;    
    }
}
.Quick_icon{
    margin: 30px auto;
    .item{
      border-radius: 30px;
      
        .link_icon{
            text-align: center;
            padding: 15px;
            border: 2px solid #198765;
          
        }

    }
}
.bestseller{
  .rcontent_dtls{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    .center_contents{
      max-width: 95%;
      padding: 15px;
    }

  }
  img{
    border: 2px double #198765;
  }
 
}
